version: "3.9"
services:
  mysql:
    image: mysql:8.4
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pje_crm
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  redis:
    image: redis:7.4-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes", "--maxclients", "2000", "--timeout", "0"]
    volumes:
      - redis_data:/data
volumes:
  mysql_data:
  redis_data:
